body{
margin:0;
font-family:Arial;
background:#eef4ff;
}

.topbar{
background:#003366;
color:white;
text-align:center;
padding:25px;
}

nav{
display:flex;
justify-content:center;
flex-wrap:wrap;
background:#0055aa;
}

nav a{
color:white;
padding:15px;
text-decoration:none;
font-weight:bold;
}

.hero{
padding:50px 20px;
text-align:center;
}

.hero h2{
font-size:35px;
}

button{
background:#ff9800;
color:white;
padding:15px 30px;
border:none;
border-radius:8px;
font-size:18px;
cursor:pointer;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:30px;
}

.card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,.15);
text-align:center;
}

footer{
background:#003366;
color:white;
padding:20px;
text-align:center;
margin-top:40px;
}
